#keys for your amazon account
access_key_id: my_key_id
secret_key: my_secret_key
#amazon glacier endpoint
glacier_endpoint: https://glacier.us-west-2.amazonaws.com/
#amazon glacier value name
vault_name: MedusaVault
#amazon sqs and sns endpoints
sqs_endpoint: sqs.us-west-2.amazonaws.com
sns_endpoint: sns.us-west-2.amazonaws.com