incoming_queue: medusa_to_glacier
outgoing_queue: glacier_to_medusa
#connection options - passed to Bunny.new, see that for choices; any blanks will just get the default`
connection:
  port: 5672
  #host: 127.0.0.1
  #user: user
  #password: pw